@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.formPersInform{
    grid-column-start: 2;
    width: 616px;
}

.titlePersInformForm{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    padding-bottom: 10px;
    padding-top: 30px;
}

.labelPersInform{
    display: grid;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    background: #FFFFFF;
    grid-column-start: 2;
    margin-top: 10px;
}

.formPreviewAboutMe{
    margin-top: 30px;
    margin-bottom: 60px;
    grid-column-start: 2;
    width: 616px;
}

.titlePersInformPreview{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.inform{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    margin-top: 20px;
}