@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.input{
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #111111;
    padding-bottom: 6px;
    padding-left: 16px;
}

.input__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(17, 17, 17, 0.48);
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:focus::-webkit-input-placeholder {
    color: transparent
}